<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'password.css'%}">
    </head>
    <body>
        <div class="whole">
            <form action="">
                <h1>Reset password</h1>
                {% if error == "error" %}
                    <h3>The email you provided doesnt exists</h3>
                {% endif %}

                <div class="user">
                    <input type="email" placeholder="email" name = "email" required>
                </div>
                <button type="submit" value="Login" class="btn">Send code</button>
            </form>
        </div>
    </body>
</html>